/* 
    Document   : style
    Author     : Chrástek Tomáš, Klape s.r.o.
    Description:
        Obsahuje styly pro projekt Galvus
*/

/* Obecne */
* { margin:0; padding:0; }

/* Specifikace stranky */
/* Zobrazeni v modu landscape */
body { width: 1024px; height: 768px; margin: 0px auto 0; position: relative; overflow: hidden; -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); }

/* Prezentace Galvus */
body#targin { background-color: white;}


/* Blok obsahujici vsechny slidy */
#targin .presentation { overflow: hidden; width: 1024px; height: 768px; background: url("./img/background.png") no-repeat; -webkit-background-size: 1024px 768px; background-size: 1024px 768px; }

#targin #moa {}
#targin #moa .moa-static { position: absolute; left: 125px; top: 78px; width: 579px; height: 585px; background: url("./img/moa_static.png") no-repeat; -webkit-background-size: 579px 585px; background-size: 579px 585px;}
#targin #moa .box1 { position: absolute; left: 125px; top: 78px; width: 579px; height: 585px; background: url("./img/moa_box1.png") no-repeat; -webkit-background-size: 579px 585px; background-size: 579px 585px;}
#targin #moa .box1 .open-popup { cursor: pointer; position: absolute; left: 66px; top: 210px; width: 61px; height: 59px; }
#targin #moa .box2 { display: none; position: absolute; left: 125px; top: 162px; width: 781px; height: 398px; background: url("./img/moa_box2.png") no-repeat; -webkit-background-size: 781px 398px; background-size: 781px 398px;}
#targin #moa .box2 img { position: absolute; bottom: 0; }
#targin #moa .box2 .animation1 { position: absolute; overflow: hidden; left: 190px; bottom: 246px; width: 118px; height: 128px; }
#targin #moa .box2 .animation2 { position: absolute; overflow: hidden; left: 376px; bottom: 240px; width: 140px; height: 140px; }
#targin #moa .box2 .animation3 { position: absolute; overflow: hidden; left: 377px; bottom: 79px; width: 140px; height: 140px; }
#targin #moa .box2 .animation4 { position: absolute; overflow: hidden; left: 204px; bottom: 82px; width: 101px; height: 128px; }
#targin #moa .box2 .final { position: absolute; left: 174px; top: -10px; width: 360px; height: 340px; background: url("./img/moa_final.png") no-repeat; -webkit-background-size: 360px 340px; background-size: 360px 340px;}
#targin #moa .popup { z-index: 1102; display: none; position: absolute; left: 30px; top: 66px; width: 961px; height: 649px; background: url("./img/moa_popup.png") no-repeat; -webkit-background-size: 961px 649px; background-size: 961px 649px;}
#targin #moa .popup img { position: absolute; bottom: 0px; }
#targin #moa .popup .animation1 { overflow: hidden; position: absolute; left: 66px; bottom: 100px; width: 355px; height: 387px; }
#targin #moa .popup .animation2 { display: none; overflow: hidden; position: absolute; left: 68px; bottom: 88px; width: 404px; height: 400px; }
#targin #moa .popup .animation3 { display: none; overflow: hidden; position: absolute; left: 56px; bottom: 88px; width: 404px; height: 400px; }
#targin #moa .popup .animation4 { display: none; overflow: hidden; position: absolute; left: 124px; bottom: 90px; width: 304px; height: 387px; }
#targin #moa .popup .circle { position: absolute; left: 30px; top: 120px; width: 462px; height: 462px; background: url("./img/moa_animation_circle.png") no-repeat; -webkit-background-size: 462px 462px; background-size: 462px 462px;}
#targin #moa .popup .text1 { position: absolute; left: 524px; top: 268px; width: 354px; height: 116px; background: url("./img/moa_text1.png") no-repeat; -webkit-background-size: 354px 116px; background-size: 354px 116px;}
#targin #moa .popup .text2 { display: none; position: absolute; left: 524px; top: 122px; width: 354px; height: 270px; background: url("./img/moa_text2.png") no-repeat; -webkit-background-size: 354px 270px; background-size: 354px 270px;}
#targin #moa .popup .text3 { display: none; position: absolute; left: 524px; top: 122px; width: 354px; height: 270px; background: url("./img/moa_text3.png") no-repeat; -webkit-background-size: 354px 270px; background-size: 354px 270px;}
#targin #moa .popup .text4 { display: none; position: absolute; left: 524px; top: 122px; width: 354px; height: 270px; background: url("./img/moa_text4.png") no-repeat; -webkit-background-size: 354px 270px; background-size: 354px 270px;}
#targin #moa .popup .close-popup { cursor: pointer; position: absolute; left: 0px; top: 44px; width: 60px; height: 66px; }
#targin #moa .ref-box { display: none; z-index: 102; position: absolute; left: 19px; bottom: 98px; width: 450px; height: 223px; background: url("./img/moa_ref_box.png") no-repeat; -webkit-background-size: 450px 223px; background-size: 450px 223px;}
#targin #moa .fingerprint { cursor: pointer; position: absolute; right: 230px; bottom: 56px; width: 70px; height: 70px; background: url("./img/fingerprint.png") no-repeat; -webkit-background-size: 70px 70px; background-size: 70px 70px;}


#targin .footer-logos  { position: absolute; right: 54px; bottom: 26px; width: 904px; height: 99px; background: url("./img/footer_logos.png") no-repeat; -webkit-background-size: 904px 99px; background-size: 904px 99px;}

/* Ref box */
#targin .ref {cursor: pointer; z-index: 104; position: absolute; left: 30px; bottom: 113px; width: 49px; height: 42px; background: url("./img/targin_ref.png") no-repeat; -webkit-background-size: 49px 42px; background-size: 49px 42px;}


/* Sede prekryti stranky - pouzito pro pozadi za popup oknem*/
#overlay { position: fixed; top: 0; left: 0; opacity: .80 !important; filter: Alpha(Opacity=80) !important; display: none; width: 150%; height: 100%; z-index: 1101; background: #000000; font-family: "NimbusSanDEECon";}

#menuTop {
	display: block;
	width: 1024px;
	height: 52px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url("img/m-end.png") repeat-x;
}

#menuTop ul {
	list-style: none;
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-align: left;
}

#menuTop li {
	margin: 0 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	float: left;
	height: 52px;
	text-align: center;
	font-family: arial;
	color: #000;
}

/* Zobrazeni v modu portret - aktualne schova veskery obsah */
@media only screen and (orientation:portrait){
    body { display: none; }
}